:global {
  .ant-table-bordered .ant-table-tbody>tr>td, .ant-table-bordered .ant-table-thead>tr>th{
    min-width:80px !important;;
  }
  .ant-upload-list{
    display: none;
  }
  .ant-upload-select-text{
    float:right;
    margin-left: 20px;
  }
  .ant-card {
    border-radius: 0;
    margin-bottom: 24px;
  }
  .ant-tag-orange{
    height: 40px !important;
    line-height: 40px !important;
    .ant-tag-text{
      font-size: 25px;
    }
  }
  .ant-tag-blue{
    height: 30px !important;
    line-height: 30px !important;
    .ant-tag-text{
      font-size: 20px;
    }
  }
  .ant-collapse-header{
    font-size: 20px;
  }
  .upload-list-inline .ant-upload-list-item {
    float: left;
    width: 200px;
    margin-right: 8px;
  }
  .ant-upload-list.ant-upload-list-picture {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 15px;
    .anticon.anticon-cross{
      display: none;
    }
  }
  .upload-list-inline .ant-upload-animate-enter {
    animation-name: uploadAnimateInlineIn;
  }
  .upload-list-inline .ant-upload-animate-leave {
    animation-name: uploadAnimateInlineOut;
  }

}

.weather {
  &:hover {
    box-shadow: 4px 4px 40px rgba(143,201,251,.6);
  }
}

.quote {
  &:hover {
    box-shadow: 4px 4px 40px rgba(246,152,153,.6);
  }
}
